.add-livestock-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.add-livestock-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.add-livestock-header h2 {
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.add-livestock-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Chia thành 2 cột */
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

input.error,
select.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.form-actions {
  grid-column: span 2; /* Chạy qua 2 cột */
  display: flex;
  justify-content: space-between;
}

.btn-cancel,
.btn-save {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-cancel {
  background-color: #f44336;
  color: white;
}

.btn-save {
  background-color: #4caf50;
  color: white;
}

@media screen and (max-width: 768px) {
  .add-livestock-form {
    grid-template-columns: 1fr; /* Một cột trên màn hình nhỏ */
  }
}
/**/
