/* Ẩn thanh cuộn dọc mà vẫn cho phép cuộn */
.hide-scrollbar {
  overflow-y: scroll; /* Cho phép cuộn */
  scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trên Chrome, Safari, và Edge */
}
.tool-buttons {
  display: flex;
  gap: 1rem;
}